body{
	background-color: #f8f8f8;
}
.page-header{
	font-size: 1.6rem;
	padding:2rem 0 3rem 0;
}
.page-body{
	padding:15px;
	background-color: #fff;
}
.page-index>.page-body{
	padding: 15px 0;
}
.page-footer{
	
}
.page.tab{
	position: absolute;
	height: 100%;
	width: 100%;
}
.tab .page-body{
	padding: 0;
	background-color: transparent;
}
.table-title{
	padding: 1rem 0;
	font-weight: bold;
}